h1 {
    color: brown;
    text-align: center;
    padding: 10px;
}

h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 7px;
}

h3 {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
}

form {
    border: 2px #eee solid;
    padding: 20px;
    margin: 20px;
    display: flex;
}