body {
    font-family: 'Google Sans', sans-serif;
    background: #f8f8f8;
    color: #000000;
    line-height: 1.6;
    padding: 20px;
  }

.container {
    border: 4px solid #FBBC04;
    max-width: 600px;
    margin: auto;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #e91010;
  }
  
  h2, h1{
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    text-align: center;
    margin-bottom: 20px;
    color: #4285f4;
  }

  button {
    width: 10%;
    padding: 10px;
    background-color: #4285f4;
    color: white;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #34A853;
  }

table {
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader {
  display: flex;
  align-self: center;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  display: none; /* Initially hidden */
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}