<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT Google Drive</title>
</head>
<body>
    <div class = "container">
        <h1>Welcome to an interactive Google Drive ChatGPT API</h1>

        <form action="/run" method="get">
            <button type="submit">Run Docker</button>
        </form>

        {% if running %}
            <h3>Docker Container Running</h3>
        {% endif %}

        <h2>Please insert the id for you Goodgle drive folder/document(s).</h2>
        <form action="/load" method="post">
            <input type="text" id="googleDriveLink" name="googleDriveLink" placeholder="Please Enter Your GoogleDrive Link below">
            <button type="submit">Load</button>
        </form>

        <div class="loader" style="display: none;"></div>



        <script>
            document.querySelector('form[action="/load"]').addEventListener('submit', function() {
                document.querySelector('.loader').style.display = 'block'; // Show loader
            });
            </script>
        {% if googleDriveLink %}
            <h3>Google Drive Link: {{ googleDriveLink }} was uploaded</h3>
        {% endif %}

      
      
        <div id="tree">
            <ul class="tree">
                <li>
                  <details open>
                    <summary>Results</summary>
                    <ul>
                    {% if context_valid %}
                    {% for item in context %}
                      <li>
                        <details>
                          <summary>{{ item.id|e }}</summary>
                          <ul>
                            <li>{{ item.text|e }}</li>
                          </ul>
                        </details>
                      </li>
                    {% endfor %}
                    {% endif %}
                    </ul>
                  </details>
                </li>
              </ul>
        </div>
      
        <h3>Please insert your question.</h3>
        <form action="/query" method="post">
            <textarea name="query" placeholder="Please insert your question."></textarea>
            <button type="submit">Submit</button>
        </form>
        
        <!--<input type="text" id="question" name="question" placeholder="Please Enter Your Question below">...-->

        <div id="answer">
            <table>
                <tr>
                    <th>Answer</th>
                </tr>
                {%if answer not in ["", None]%}
                <tr>
                    <td>{{ answer | safe }}</td>
                </tr>
                {%endif%}
                <tr>
                    <th>Context from Vector Database, queried into ChatGPT.</th>
                </tr>
                {%if context not in ["", None]%}
                <tr>
                    <td>{{ context | safe }}</td>
                </tr>
                {%endif%}
        </div>
        
    </div>
    
</body>
</html>
